@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Livvic:100,200,300,400,500,600,700,900&display=swap&subset=latin-ext,vietnamese');

@import '../css/animate';
@import './base/_variables';

body,
html {
  img {
    user-select: none !important;
  }
}

body {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  font-family: 'Livvic', sans-serif;
  line-height: 1.8;
}

::selection {
  background-color: lighten($gray, 55%);
}

.nuxt-link-exact-active {
  background: transparent;
  position: relative;
  &::after {
    content: '';
    width: 1.4rem;
    height: .2rem;
    position: absolute;
    bottom: -0.2rem;
    z-index: -1;
    left: 0;
    background: $berry;
    transition: all 320ms ease;
  }

  &:hover {
    color: lighten($gray, 40%);
  }

  &:hover {
    &::after {
      width: 3rem;
    }
  }
}

a {
  color: lighten($gray, 20%);
  transition: all 320ms ease;
}

.page-enter-active {
  animation: fadeInUp 0.8s;
}
.page-leave-active {
  animation: fadeOutDown 0.8s;
}
