@import '../base/_variables';
@import '../helpers/_atomic-classes';

.contact-links {
  display: flex;
  height: 10.2rem;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: fixed;
  left: 2.25rem;
  top: 38vh;
  z-index: 100;
  transition: $transition;
  a {
    color: $gray;
    transition: color 320ms ease;
    &:hover {
      color: $gray-lighter;
    }
  }
}

.contact-icon {
  position: fixed;
  right: 3rem;
  bottom: 3.8rem;
  color: $gray;
  z-index: 100;
  transition: $transition;
  border-radius: 50%;
  &:hover {
    color: white;
    background: darken($gray, 2%);
    transform: scale(1.4);
  }
}
