@import '../base/_variables';

.contact-links {
  display: flex;
  height: 7.2rem;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: fixed;
  left: 2.25rem;
  top: 45vh;
  a {
    color: $gray;
    transition: color 320ms ease;
    &:hover {
      color: $gray-lighter;
    }
  }
}
