@import '../base/_variables';
@import '../helpers/_atomic-classes';

$transition: all 320ms ease-in-out;

.hamburguer {
  position: relative;
  width: 20px;
  height: 20px;
  padding: 2rem;
  @extend .circle;
  transition-delay: .6s;
  transition: $transition;
  &:hover {
    cursor: pointer;
    transition: all 320ms ease-in;
    // &::after {
    //   content: ' ';
    //   width: 20px;
    //   height: 15px;
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   z-index: 1;
    //   background: red;
    //   transition: all 620ms ease-out;
    //   transform: scale(2)
    // }
    .tile {
      &.two {
        transform: translateX(20deg)
      }
    }
  }

  .tile {
    position: absolute;
    width: 24px;
    height: 2px;
    background: $charcoal;
    transition: $transition;

    &.one {
      margin: .4rem 0;
      // transform: translateX(-50%) translateY(-250%);
    }
    &.two {
      // transform: translateX(-50%) translateY(250%);
    }
  }

    &.active {
    background: $charcoal;
    transform: scale(1.1);

    &:hover {
      .tile {
        transform: translateY(14%) translateX(-50%) rotateX(30deg);
      }
    }
    .tile {
      background: white;
    }
    .one {
      transform: translateY(14%) translateX(-50%);
    }
    .two {
      transform: translateY(-14%) translateX(-50%);
    }
  }
}

.container {
  border-bottom: 1px solid #ddd;
  padding: 2rem;
  position: sticky;
  z-index: 1;
  .inner-wrapper {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    #logo {
      img {
        width: 6rem;
        height: 3rem;
      }
    }
    .menu-active {
      z-index: 5;
      position: relative;
    }
  }
}
