@import '../base/_variables';
@import '../helpers/_atomic-classes';

.hamburguer {
  position: relative;
  width: 20px;
  height: 20px;
  padding: 2rem;
  @extend .circle;
  transition-delay: .6s;
  transition: $transition;
  display: flex;
  justify-content: center;
  .tile {
    position: absolute;
    width: 24px;
    height: 2px;
    display: flex;
    justify-content: center;
    background: $charcoal;
    transition: $transition;
    background: lighten($charcoal, 45%);

    &.one {
      margin: .6rem 0;
    }
  }

  &:hover {
    cursor: pointer;
    transition: all 320ms ease-in;

    .one {
      transform: translateX(-4px)
    }
    .two {
      transform: translateX(4px)
    }
  }
   &.active {
    background: $charcoal;
    transform: scale(1.1);
    .one {
      margin: 0;
      transform: translateY(-.4rem);
    }
    .two {
      transform: translateY(.4rem)
    }

    &:hover {
      .one {
        transform: translateY(-.4rem) translateX(-4px)
      }
        .two {
        transform: translateY(.4rem) translateX(4px)
      }
    }
    .tile {
      background: white;
    }
  }
}

.container {
  border-bottom: 1px solid #ddd;
  padding: 2rem;
  position: sticky;
  z-index: 1;
  .inner-wrapper {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    #logo {
      img {
        width: 6rem;
        height: 3rem;
      }
    }
    .menu-active {
      z-index: 5;
      position: relative;
    }
  }
}
