@import '../helpers/_atomic-classes';
@import '../base/_variables';

.nav-main-wrapper {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;

  padding: 2rem;
  overflow: hidden;
  max-height: 100px;
  z-index: 20 !important;

  #logo {
    img {
      width: 6rem;
      height: 3rem;
    }
  }
  .menu-active {
    z-index: 5;
    position: relative;
  }
}
