@import '../helpers/_atomic-classes';
@import '../base/_variables';

.inner-wrapper {
  margin-top: 12vh;
  position: relative;

  .svg-wrapper {
    margin-right: 1rem;
  }
}

.description {
  max-width: 40vw;
}

.map {
  height: 50vh;
}
