@import '../helpers/_atomic-classes';

.container {
  &.grid {
    padding-top: 6rem;
  }
  .description {
    width: 26rem;
    height: fit-content;
    place-self: center;
    .title {
      margin-bottom: 1rem;
    }
  }

  .img-description-wrapper {
    @extend .description;
    width: 24rem;
    img {
      width: 26rem;
      height: 28rem;
      background-color: #25253b;
      // border-radius: 4rem 0 24rem 0;
    }
  }
}
