@import '../helpers/_atomic-classes';

.container {
  .description {
    width: 18rem;
    padding: 1.2rem;
    height: fit-content;
    place-self: center;
  }

  .img-description-wrapper {
    @extend .description;
    width: 24rem;
    img {
      width: 26rem;
      height: 28rem;
      background-color: #25253b;
      // border-radius: 4rem 0 24rem 0;
    }
  }
}
