@import '../base/_variables';
@import '../helpers/_atomic-classes';

.main-wrapper {
  height: 80vh;
  padding: 1.6rem;
  justify-content: space-evenly;

  .info-wrapper {
    grid-row: 1;
    margin-top: 20vh;
    margin-lefT: 5rem;
    grid-column: 1 /2;
    justify-self: start;
  }

  .work-links-wrapper {
    grid-row: 1;
    height: 100%;
    align-self: end;
    justify-self: end;
    margin-right: 10rem;

    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
  }

  .work-link {
    margin-right: 24px;
    width: 24rem;
    height: 100%;
  }
}
